.s-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5% 80px;
  background-size: cover;
}

.s-services {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));
}

.s-service {
  border: 1px solid lightgrey;
  border-top: 15px solid lightgrey;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 20px 10px;
}

.s-service-item {
  margin: 5px 0;
}

.s-title {
  margin: 0 0 20px;
  letter-spacing: 5px;
}

.s-subheading {
  letter-spacing: 5px;
  margin: 20px 0 0;
}

.s-icon {
  width: 80px;
  height: 80px;
  margin: 20px 0 40px;
}

@media only screen and (max-width: 650px) {
  .s-container {
    padding: 40px 5%;
  }
  .s-title {
    margin: 0 0 10px;
    letter-spacing: 5px;
    font-size: 1.2rem;
  }
}