.nb-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nb-logo-container {
  display: flex;
  align-items: flex-end;
}

.nb-logo {
  height: 75px;
  padding: 15px;
}

.nb-nav-btns {
  display: flex;
}

.nb-nav-btn {
  padding-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 4px solid white;
  display: flex;
  justify-content: center;
}

.nb-nav-btn:hover {
  border-bottom: 4px solid #e29455;
  cursor: pointer;
}