.nb-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #e29455;
  height: 70px;
  padding: 0 5%;
  margin-bottom: 50px;
}

.nb-social-link {
  height: 100%;
  width: 100%;
}

.nb-nav-btns {
  display: flex;
}

.nb-nav-btn {
  color: #fff;
  padding-bottom: 20px;
  margin-left: 30px;
  border-bottom: 4px solid #e29455;
  display: flex;
  justify-content: center;
  transition: all .4s ease-out;
  font-size: 1.1rem;
}

.nb-nav-btn:hover {
  border-bottom: 4px solid #fff;
  cursor: pointer;
}

.nb-nav-btn-text {
  color: #fff;
}

.nb-link {
  text-decoration: none;
  color: black;
}

.nb-selected {
  border: 1px solid red;
}

.nb-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.nb-fb-icon {
  background-image: url('../utils/assets/icons/facebook.svg');
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background-size: cover;
}

.nb-li-icon {
  background-image: url('../utils/assets/icons/linkedin.svg');
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background-size: cover;
}