.sb-container {
  background-color: #e29455;
  margin: 0;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sb-icons {
  display: flex;
}

.sb-fb-icon {
  height: 25px;
  width: 25px;
}

.sb-call {
  font-size: 1.1rem;
}