.f-container {
  display: flex;
}

.f-title {
  margin-bottom: 30px;
}

.f-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 40px 50px 40px 5%;
}

.f-form-element {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 7px;
  margin: 10px 0 25px;
  border: 1px solid #d3d3d3;
}

.f-textarea {
  height: 150px;
}

.f-submit-btn {
  color: #fff;
  background-color: #e29455;
  font-size: 1.5rem;
  padding: 20px;
  border: 1px solid #e29455;
}

.f-contact-info {
  padding: 40px 5% 40px 50px;

}